body {
    background-image: url(https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.15752-9/336527182_950415122922345_731415769460220016_n.png?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=uMYLs2NJA2wAX8tmc28&_nc_ht=scontent.fsgn2-5.fna&oh=03_AdTj4vUHAwt-MGw_RerQXtpowsNvMALoRbU0GRiEePFBzg&oe=64461127);
    background-repeat: no-repeat;
    background-size: auto;
}

.main {
    margin: 0 !important;
}

/* Nav bar */
.container-fluid {
    background-color: #171A21;
}

.nav {
    width: 100%;
    margin-top: 0 !important;
    background-color: #1b2838;
    height: 89px !important;
    position: fixed;
    z-index: 1;
}

.navbar {
    width: 100%;
    padding: 0;
}

.logo {
    margin-left: 200px !important;
    height: 89px;
}

.logo img {
    display: block;
    margin-top: 20px !important;
    width: 176px;
    height: 44px;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center  ;
}

.nav-link{
    color: #a7a7a7!important;
    height: 45px;
}

.nav-link:hover {
    color: white!important;
}

.dropdown-item {
    background-color: #171A21;
    color: #a7a7a7;
}

.dropdown-item:hover {
    background-color: #171A21;
    color:white
}

.dropdown-menu {
    background-color: #171A21 !important;
}

.d-flex {
    padding-right: 150px !important;
}


/* Footer */
.footer {
    margin: 50px auto;
    display: flex;
    width: 950px;
    height: 57px;
}

.valve-img img, .steam-img img {
    width: auto;
    height: 25px;
}

.valve-img, .steam-img {
    margin: auto 10px;
}

.footer p {
    margin: 0;
    font-size: 12px;
}

.rule {
    margin: auto;
}

/* Form */

.container {
    width: 400px;
    padding-top: 129px !important;
    display: flex;
    flex-direction: column;
}

.container-item {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* padding-top: auto; */
    padding: 20px;
    background-color: #181a21;
    align-items: center;
}

.container h1 {
    color: white;
    font-size: 50px;
}

.container button {
    color: white;
    background-color: #3082e1;
    width: 161px !important;
    height: 37px;
}

input {
    width: 300px !important;
    height: 36px !important;
    background-color: #32353c !important;
    border-radius: 0 !important;
    border: 0 !important;
    color: white !important;
}

input:active {
    border: 0;
}

label {
    color: #989797;
    padding: 5px !important;
}

.container button:hover {
    color: #bcedfe;
    background-color: #3faaf4;
}

#status {
    color: red;
}